/*This file is for your custom css.  All yours*/
@font-face{
	font-family: 'journal';
	src: url('../fonts/journal.ttf') format('truetype');
}

@font-face{
	font-family: 'veteran-typewriter';
	src: url('../fonts/veteran_typewriter.ttf') format('truetype');
}

p {
  font-family: 'journal', serif;
}
